# PREFIX                 = $(PREFIX)
# NAME                   = $(NAME)
# SUFFIX                 = $(SUFFIX)
# chipId                 = $(chipId)
# pinSet                 = $(pinSet)
# sideSelection          = $(sideSelection)
# port                   = $(port)
# ADDRESS                = $(ADDRESS)
# defaultTestPulseHeight = $(defaultTestPulseHeight)

###
#
# status  (list id)
#
record(bi, "$(PREFIX)$(NAME):$(ADDRESS):id$(chipId):status$(SUFFIX)") {
  field(SCAN, "I/O Intr")
  field(DTYP, "stream")
  field(INP, "@$(protocolFile) listIdStatus($(chipId),$(pinSetIndex),$(sideSelect),$(port)) $(device)")
  field(VAL, "0")
  field(ZNAM, "no")
  field(ONAM, "yes")
}


